.job-form {
    background: rgba(255,66,66,.85);
    color:white;
    z-index:100;
    padding:35px 40px ;
    padding-bottom: 10px;
}
.job-form .btn {
    position: relative;
    margin:20px 0;
}

.form-control {
    display: block;
    width: 100%;
    /*padding: 15px 20px;*/
    font-size: 14px;
    color: #001C49;
    background-color: #dcdfe3;
    border: 0;
    margin:20px 0;
    border-radius: 30px;
}

.form-control.white {
    background-color: #fff;
}


.btn.dark-red:hover { background:#22c0e8; }

/* Colors !colors */

.dark-red {
    background: #b72d2d;
}
.btn-search {
    margin: 0 10px;
    padding:10px 30px;
    border-radius:30px;
    color:white;
    font-family:'Varela Round';
    transition: all 0.3s ease;
}

.btn i {
    font-size:12px;
    margin-left:5px;
}

.btn:hover { color:white; }

.logo-box {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.font-design-lg {
    font:normal 20px/1.3 arial;
}

.title-jobtype {
    color: red;margin-top: 8px;text-align: center;
}

.rank-job-list {
    border-bottom : 1px dotted  #ff7f00;
}

.job-unit-height {
    height: 128px;
}

.job-logo {
    max-height: 45px;
    margin: auto;
}

.job-title-text {
    color: #337ab7;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-left: 5px;
}

.job-salary-text {
    font:normal 15px/1.3 arial;
    color: #337ab7;
}

.job-salary-text img {
    margin-bottom: 15px;
}

.job-place-text {
    font:normal 15px/1.3 arial;
    color: #337ab7;
    margin-top: -3px;
}

.job-place-text b {
    margin-left: 5px;
}
